<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ConsumerMapper">
    <resultMap id="BaseResultMap" type="com.example.domain.Consumer">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="phone_num" jdbcType="CHAR" property="phoneNum"/>
        <result column="email" jdbcType="CHAR" property="email"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,username,password,sex,phone_name,email,birth,avatar,create_time,update_time,
    </sql>
    <sql id="Blob_Column_List">
        id,username,password,sex,phone_name,email,birth,avatar,introduction,location,create_time,update_time,
    </sql>
    <select id="login" resultMap="BaseResultMap">
        select *
        from consumer
        where username = #{username}
    </select>
<!--    <insert id="insert">-->
<!--        insert into consumer-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="consumer.id!=null">-->
<!--                id,-->
<!--            </if>-->
<!--            <if test="consumer.userName!=null">-->
<!--                username,-->
<!--            </if>-->
<!--            <if test="consumer.password!=null">-->
<!--                password,-->
<!--            </if>-->
<!--            <if test="consumer.sex!=null">-->
<!--                sex,-->
<!--            </if>-->
<!--            <if test="consumer.phoneNum!=null">-->
<!--                phone_num,-->
<!--            </if>-->
<!--            <if test="consumer.email!=null">-->
<!--                email,-->
<!--            </if>-->
<!--            <if test="consumer.birth!=null">-->
<!--                birth,-->
<!--            </if>-->
<!--            <if test="consumer.avatar!=null">-->
<!--                avatar,-->
<!--            </if>-->
<!--            <if test="consumer.introduction!=null">-->
<!--                introduction,-->
<!--            </if>-->
<!--            <if test="consumer.location!=null">-->
<!--                location,-->
<!--            </if>-->
<!--            create_time,update_time-->
<!--        </trim>-->
<!--        <trim prefix="value(" suffix=")" suffixOverrides=",">-->
<!--            <if test="id!=null">-->
<!--                #{id},-->
<!--            </if>-->
<!--            <if test="userName!=null">-->
<!--                #{userName},-->
<!--            </if>-->
<!--            <if test="password!=null">-->
<!--                #{password},-->
<!--            </if>-->
<!--            <if test="sex!=null">-->
<!--                #{sex},-->
<!--            </if>-->
<!--            <if test="phoneNum!=null">-->
<!--                #{phoneNum},-->
<!--            </if>-->
<!--            <if test="email!=null">-->
<!--                #{email},-->
<!--            </if>-->
<!--            <if test="birth!=null">-->
<!--                #{birth},-->
<!--            </if>-->
<!--            <if test="avatar!=null">-->
<!--                #{avatar},-->
<!--            </if>-->
<!--            <if test="introduction!=null">-->
<!--                #{introduction},-->
<!--            </if>-->
<!--            <if test="location!=null">-->
<!--                #{location},-->
<!--            </if>-->
<!--            now(),now()-->
<!--        </trim>-->
<!--    </insert>-->
    <insert id="insert">
        insert into consumer (id, username, password, sex, phone_num, email, birth, introduction, location, create_time, update_time, avatar)
        values (#{id}, #{userName}, #{password}, #{sex}, #{phoneNum}, #{email}, #{birth}, #{introduction}, #{location}, #{createTime}, #{updateTime}, #{avatar})
    </insert>

    <update id="update" parameterType="com.example.domain.Consumer">
        update consumer
        <set>
            <if test="id!=null">
                id=#{id},
            </if>
            <if test="userName!=null">
                username=#{userName},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="phoneNum!=null">
                phone_num=#{phoneNum},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="birth!=null">
                birth=#{birth},
            </if>
            <if test="avatar!=null">
                avatar=#{avatar},
            </if>
            <if test="introduction!=null">
                introduction=#{introduction},
            </if>
            <if test="location!=null">
                location=#{location},
            </if>
            update_time=now(),
        </set>
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from
        consumer
        where id=
        #{id},
    </delete>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Blob_Column_List"/>
        from consumer
        where id=#{id},
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Blob_Column_List"/>
        from consumer,
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Blob_Column_List"/>
        from consumer where username=#{userName},
    </select>
    <select id="verifyPassword" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
        <include refid="Blob_Column_List"/>
        from consumer where username=#{userName} and password=#{password},
    </select>
</mapper>