<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SongListMapper">
    <resultMap id="BaseResultMap" type="com.example.domain.Song">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="style" jdbcType="VARCHAR" property="style"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,title,pic,introduction,style;
    </sql>
    <insert id="insert" parameterType="BaseResultMap">
insert into song_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="title!=null">
                title,
            </if>
            <if test="pic!=null">
                pic
            </if>
            <if test="introduction!=null">
                introduction,
            </if>
            <if test="style!=null">
                style,
            </if>
        </trim>
        <trim prefix="value(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="title!=null">
                #{title},
            </if>
            <if test="pic!=null">
                #{pic},
            </if>
            <if test="introduction!=null">
                #{introduction},
            </if>
            <if test="style!=null">
                #{style},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="BaseResultMap">
update song_list
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="pic!=null">
                pic=#{pic},
            </if>
            <if test="introduction!=null">
                introduction=#{introduction},
            </if>
            <if test="style!=null">
                style=#{style},
            </if>
        </set>
    where id=#{id}
    </update>
    <delete id="delete" parameterType="java.long.Integer">
        delete song_list
        where id=#{id},
    </delete>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
            from song_list where id=#{id}
    </select>
    <select id="selectAll" resultMap="com.example.domain.SongList">
        select
            <include refid="Base_Column_List"/>
            from song_list
    </select>
    <select id="selectByTitle" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            <include refid="Base_Column_List"/>
            from song_list where title=#{title}
    </select>
    <select id="likeTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
            from song_list where title like #{title}
    </select>
    <select id="likeStyle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
            from song_list where style like #{style}
    </select>
</mapper>